apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: external-secret                      # -- Provide external secret name
  namespace: kube-system                     # -- Do not change this namespace field
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: external-secrets-store             # -- Provide previously created secret store name
    kind: SecretStore
  target:
    name: externalsecret-data                # -- Name of secret which will contain data specified below
    creationPolicy: Owner
  data:
  - secretKey: do_not_delete_this_key        # -- AWS Secret-Manager secret key
    remoteRef:
      key: external_secrets-test6                  # -- Same as 'externalsecrets_manifest["secret_manager_name"]
      property: do_not_delete_this_key       # -- AWS Secret-Manager secret key